:root {
	--snow-color: white;
}

.snowfield {
	pointer-events: none;
	user-select: none;
	z-index: 1000;
	position: fixed;
	top: 0;
}

.snowflake {
	position: absolute;
	color: var(--snow-color);
	line-height: 1;
	-webkit-font-smoothing: antialiased;

	will-change: transform, opacity;
	backface-visibility: hidden;
}

.snowflake-solid {
	border-radius: 50%;
	background: var(--snow-color);
}
